
research/.idea/encodings.xml
research/.idea/misc.xml
research/.idea/modules.xml
research/.idea/research.iml
research/.idea/vcs.xml
research/.idea/workspace.xml
.DS_Store
research/.idea/inspectionProfiles/profiles_settings.xml
